<!DOCTYPE html>
{% extends 'account/main.html' %}
{% block content %}
<div class="w3-container w3-padding-large ">
	<h4 class="whiteP">Lorenzo Lovito</h4>
	<div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
		<div class="w3-third w3-dark-grey">
			<p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
			<p>lovitolorenzo@yahoo.it</p>
		</div>
		<div class="w3-third w3-teal">
			<p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
			<p>Potenza, IT</p>
		</div>
		<div class="w3-third w3-dark-grey">
			<p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
			<p>3398740105</p>
		</div>
	</div>
</div>
{% endblock %}